{
    http_port  8080
    https_port 8443
}

sillytavern.osipol.uk {
    reverse_proxy localhost:8000
}

syncthing.osipol.uk {
    reverse_proxy localhost:8384
}

navidrome.osipol.uk {
    reverse_proxy localhost:4533
}

vaultwarden.osipol.uk {
    reverse_proxy localhost:8081
}

filebrowser.osipol.uk {
    reverse_proxy localhost:8082
}

