{
    http_port  8080
    https_port 8443
}

:8080 {
    handle_path /sillytavern* {
        reverse_proxy localhost:8000
    }

    handle_path /syncthing* {
        reverse_proxy localhost:8384
    }

    handle_path /navidrome* {
        reverse_proxy localhost:4533
    }

    handle_path /vaultwarden* {
        reverse_proxy localhost:8081
    }

    handle_path /filebrowser* {
        reverse_proxy localhost:8082
    }
}
